body{
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    background-color:  hsl(244, 38%, 16%);
    width:68.6rem;
    height: 27rem;
    box-sizing: content-box;
}
.description{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statics{
    display: flex;
    gap: 5.5rem;   
}
h1,p{
    margin: 0;
}
.img-mobile{
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }