@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root{
    --color-text:#fff;
    --color-span: #fff;
    --color-paragraph: #fff;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
}

.title{
    font-family: 'Inter', sans-serif;
    color: var(--color-text);
    font-weight: 700;
    font-size: 2.3rem;
}
.paragraph{
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    background-color:  hsl(244, 38%, 16%);
    width:68.24rem;
    box-sizing: border-box;
    height: 28.5rem;
    border-radius: 10px;
}
.description{
    padding: 4.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
}
.statics{
    display: flex;
    gap: 1rem;   
}
.paraf-title{
    text-transform: uppercase;
}
h1,h2,p{
    margin: 0;
}
.img-desktop{
    height: 28.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.img-mobile{
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }